.footer {
  height: 64px;
  bottom: 0;
  background-image: url('../images/Background.png');
  background-size: cover;
  text-align: center;
}

.footer p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
}
